html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* global styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Inter;
}

html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

li,
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.header {
  background-color: #f5f7fa;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__item {
  color: #18191f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.header__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 107px 0;
}
.header__title {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
  margin-bottom: 16px;
  max-width: 657px;
}
.header__title span {
  color: #4caf4f;
}
.header__info--text {
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 42px;
}

.customer {
  background-color: #f5f7fa;
  padding: 32px 0;
  margin-bottom: 50px;
}
.customer__container {
  display: flex;
  gap: 78px;
}
.customer__right {
  display: flex;
  flex-direction: column;
}
.customer__info--text {
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  margin-bottom: 20px;
  min-width: 740px;
}
.customer__info--name {
  color: #4caf4f;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 12px;
}
.customer__text {
  color: #89939e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 36px;
}
.customer__company-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer__link {
  color: #4caf4f;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__title {
  color: #4d4d4d;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  margin-bottom: 8px;
}
.feature__info--text {
  max-width: 628px;
  color: #717171;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 16px;
}
.feature__cards {
  display: flex;
  align-items: center;
  gap: 50px;
}
.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__card img {
  display: flex;
}
.feature__card--info {
  width: 317px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 85px;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background: #f5f7fa;
  transition: all 1s ease;
}
.feature__card--info:hover {
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  transition: all 1s ease;
}
.feature__card--text {
  color: #717171;
  max-width: 285px;
  margin-bottom: 24px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.feature__card--link {
  color: #4caf4f;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.btn {
  color: #ffffff;
  text-align: center;
  background-color: #4caf4f;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 32px;
  line-height: 24px;
  border: 1px solid transparent;
  transition: background, color 1s ease;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #4caf4f;
  border: 1px solid #4caf4f;
  transition: background 1s ease;
}

.login-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: #4caf4f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 10px 32px;
  transition: background 1s ease;
}

.main {
  padding: 40px 0;
}
.main__title {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  margin-bottom: 8px;
}
.main__info--text {
  color: #717171;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 40px;
}
.main__brand--company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px 32px;
  border-radius: 8px;
  background: var(--neutral-white, #fff);
}
.main__item img {
  margin-bottom: 8px;
}
.main__item:hover {
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.main__cards--title {
  color: #4d4d4d;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  max-width: 231px;
}
.main__cards--text {
  color: #717171;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  max-width: 251px;
}
.main__bottom {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: center;
}
.main__bottom--title {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  margin-bottom: 16px;
  max-width: 601px;
}
.main__bottom--info-text {
  color: #717171;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 38px;
  max-width: 601px;
}

.main-bottom {
  background-color: #f5f7fa;
  padding: 64px 0;
}
.main-bottom__title {
  color: #717171;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  max-width: 408px;
  margin-bottom: 8px;
}
.main-bottom__title span {
  color: #4caf4f;
}
.main-bottom__info--text {
  color: #18191f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.main-bottom__number-top {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}
.main-bottom__number-part {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}

.bottom {
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  min-width: 191px;
}

.bottom__main {
  margin-bottom: 50px;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}/*# sourceMappingURL=style.css.map */