$mainFont: Inter;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$font-14: 14px;
$font-16: 16px;
$font-20: 20px;
$font-28: 28px;
$font-36: 36px;
$font-64: 64px;
$font-16: 16px;
$font-16: 16px;
$font-16: 16px;
